# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

data/cache/wos_live.json
data/cache/wos_prefetch_status.json

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db


.deploy-test-venv/
.cloud-test-venv/
