# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit secrets
.streamlit/secrets.toml

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db


.deploy-test-venv/
